
body{
	background-color: #232931;
}

header img{
    width: 100%;
    height: 30%;
}


section img{
	width: 170px;
}

section img:hover{
 transform: scale(1.40);
}


section li{
	list-style: none;
	display: table-cell;
	padding: 80px;
	text-align: center;
	font-family: Verdana;
	color: white;
	font-size: 20px;
}